:global {
  // .home {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   box-sizing: border-box;
  //   h2.title {
  //     width: 100%;
  //     text-align: center;
  //     background-color: burlywood;
  //     font-size: 1.7rem;
  //     font-weight: bold;
  //     padding: 5px 0;
  //   }
  //   a {
  //     margin: 15px 0;
  //   }
  //   .color,
  //   .size,
  //   .disabled,
  //   .borderRadius,
  //   .function {
  //     display: flex;
  //     border-bottom: 1px solid #eee;
  //     padding: 15px 0;
  //   }
  //   .size,
  //   .borderRadius {
  //     align-items: center;
  //   }
  // }

  /* *****튜토리얼 page***** */
  #tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    h2 {
      width: 100%;
      text-align: center;
      font-size: 1.7rem;
      font-weight: bold;
      padding: 5px 0;
      background-color: brown;
      color: #fff;
    }
  }

  /* ***** Button Components ***** */
  .btn_wrap {
    padding: 10px 20px;

    button {
      box-shadow: 1px 1px 2px #666;
      padding: 15px 20px;
      background-color: rgb(230, 230, 230);

      &:hover {
        background-color: darken(rgb(230, 230, 230), 10%);
      }

      &.blue {
        background-color: #409eff;
        color: #fff;
      }
      &.blue:hover {
        background-color: darken(#409eff, 10%);
      }

      &.green {
        background-color: #67c23a;
        color: #fff;
      }
      &.green:hover {
        background-color: darken(#67c23a, 10%);
      }

      &.orange {
        background-color: #e6a23c;
        color: #fff;
      }
      &.orange:hover {
        background-color: darken(#e6a23c, 10%);
      }

      &.s {
        padding: 7px 12px;
      }
      &.m {
        padding: 15px 20px;
      }
      &.l {
        padding: 20px 25px;
      }
      &.xl {
        padding: 25px 32px;
      }

      &:disabled {
        pointer-events: none;
        background-color: rgb(189, 182, 182);
        color: rgb(233, 92, 92);
      }

      &.br {
        border-radius: 15px;
      }
    }
  }
  /* //btn_wrap */
}
