:global {
  .color,
  .size,
  .disabled,
  .borderRadius,
  .function {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
  }
  .size,
  .borderRadius {
    align-items: center;
  }
}
